/* Add some global styles here! */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
html, body {
  font-family: 'Fredoka', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Roboto', sans-serif;
/* html, body {
  font-family: 'PT Serif', serif; */
  height:max-content
/*    
  background: var(--base-bg);
  height: 100vh; */

}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


:root {
  --light-pink: #ffdefdff;
  --medium-pink: #ed9ff6ff;
  --header-color: #3066be;
  --darker-header:#173565;
  --lighter-header:#6693dc;
  --green: #19a240;
  --red:#a22c29;
  --light-red:#eb6e6e;
  --light-green:#81c28f;
  --light-grey:#ebebeb;
  --dark-grey:#666666; 
  --line-color:#f9f9f9;
  --off-black: #3E3E3E; 

  /* --dark-blue: #091d68ff;
  --light-yellow: #fef0bcff;
  --near-black: #02052cff;
  --muted-blue:#5a69d0ff;
  --muted-lavender:#6264a1ff;
  --magenta:#863263ff;
  --dark-plum:#3b1f48ff; */
  --medium: 75px;
  --large: 150px;
  --base-bg: #f1f3f5;
}

button.btn-small {
  font-size: 80%;
  background-size: 50%;
}
button.default {
  background-color:var(--lighter-header);
  border-radius: 10px;
  gap: 0.5em;
  padding: .5em;
  color:var(--darker-header);
}
h6{
  font-weight: 300;
  color:var(--dark-grey);
}

h3{
  color:var(--off-black);
}
button.button-error {
  color: white;
  background: var(--red);
}
button.button-success {
  color: white;
  background: var(--green);
}
button.default-disabled {
  background-color:var(--light-grey);
  border-radius: 10px;
  gap: 0.5em;
  padding: .5em;
  color:var(--dark-grey);
}
.vl-full::before {
  border-left: 1px solid var(--line-color);
  /* opacity: 25%; */
  height: 100%;
  margin:auto;
}
.vl-indented::before {
  content: '';
  border-left: 1px solid var(--dark-grey);
  min-height:100%;
  height:100%; /* Adjust the color, width, and style as needed */
   /* Adjust the height of the line */
  display: inline-block;
  margin-right: 10px; 
  /* Line width */
  /* Line color */
  
  /* border-left: 1px solid var(--dark-grey); */
  
}
#line-full{
  color: var(--line-color);
  opacity: 25%;
  margin:auto;
  width:100%;
  size:1px;
}
#line-indented{
  color: var(--line-color);
  opacity: 25%;
  margin:auto;
  width:90%;
  size:1px;
}
a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.c-row {
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
@font-face {
  font-family: 'Bugis';
  font-style: normal;
  font-weight: normal;
  src: local('Bugis'), url('./fonts/Bugis.woff') format('woff');
  }

